*, ::after, ::before {
    box-sizing: border-box;
}

html, 
body {
    
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 3.6em;
    width: 100%;
    align-items: center;
}

main {
    background-image: linear-gradient(whitesmoke, rgb(202, 190, 221));
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    /* background-color: whitesmoke; */
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
}

footer {
    width: 100%;
    height: 6.5rem;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    padding-bottom: 1rem;
}

a {
    margin: 0 0.7rem;
    text-decoration: none;
    color: #202020;
}

.logo-font {
    font-size: 1em;
    font-family: 'Roboto';
    word-spacing: -0.8;
}

.logo-img{
    width: 1.5em;
     margin-right: 1em;
}

.photo {
    border-radius: 50%;
    width: 182px;
    margin-bottom: 1rem;
    margin-right: 1em;
}
.logo {
    display: flex;
    padding: .5em;
    align-items: center;
}
.article, .hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
    padding: 1.5em 1.2em;
}

.hero {
    background-image: url('/images/hero.jpg');
    background-size: cover;
    min-height: 295;
    color: whitesmoke;
}
.date {
    margin: 0.4rem 0;
}

.blog-title {
    margin: 0 0 0.4rem 0;
}
.blog-title{
    line-height: 95%;
    margin-bottom: 1rem;
}

.blog-content {
    margin: 0;
}

.blog, .intro {
    
    margin-top: 1.5em;
    padding: 0 1.2em;
}
.blog-image {
    object-fit: cover;
    width: 100%;
    height: 14.5rem; 
    border-radius: 0.2em;
    
}

.footer-text {

    color: whitesmoke;
    margin: 0;
}

.recent{
    margin: 1rem auto;
}
.view-more{
    margin: 1rem auto;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

h1 {
    font-size: 2em;
}

/* MEDIA QUERIES  */

@media (width > 600px){
    .blog-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
       
    }

    .view-more {
        display: none;
    }

    section{
        max-width: 1200px;
    }

    .blog {
        flex-basis: 309px;
        flex-grow: 1;
        max-width: 980px;
    }

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hidden {
        display: block;
    }
}